.marginTop {

	margin-top: 20px;

	
}

#searchArea {

	border-top: solid grey;	

}

#updateArea {

	border-top: solid grey;	
	
}

#userArea {

	border-top: solid grey;	
	
}

#loginArea {

	border-top: solid grey;	
	
}