/* index.html --------------------------------------------------------------------------------- */
body {
	background-image: url(./crumpled.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.masterContainer {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400; 
}

/* LoginHeader Component --------------------------------------------------------------------------------- */

.navbar-header {
	margin-left: 10px;
}

.navbar-brand {
	margin: 5px 0 5px 10px !important;
	padding-top: 10px;
	color: #600000 !important;
	font-size: 1.5em;
	font-weight: 300;
	border-style: solid;
    border-width: 2.0px;
    border-color: #600000;
    height: 40px;
}

.navbar-right {
	float: right;
}

.navbar-fixed-top {
	height: 10px;
}

/* Login Component --------------------------------------------------------------------------------- */

#topRow {
	background-color: #FFE4C4;
	opacity: 0.9;
	margin-top: 200px;
	border-radius: 10px;
	padding-bottom: 40px;
	border-style: solid;
    border-width: 2.0px;
    border-color: #600000;
}

#topRow h1 {
	font-weight: 650;
	font-size: 275%;
}

#topRow input {
	border-color: #600000;
}

#topRow button {
	background-color: #600000;
	color: white;
}

/* LogoutHeader Component --------------------------------------------------------------------------------- */

#logoutHeader {
	float: right;
	margin: 10px 30px;
}

#logoutHeader a {
	color: #FFE4C4;
	font-size: 1.3em;
	cursor: pointer;
}

/* TodosIndex Component --------------------------------------------------------------------------------- */

/* no todos -------------------------------------------- */

#noTodosThumbnail {
	margin-top: 45px;
	height: 600px;
	width: 500px;
	opacity: 0.9;
}

#noTodosIndex p {
	text-align: center;
	font-size: 3.5em;
	font-weight: 100;
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	line-height: 70px;
	color: #600000;
}

#noTodosIndex h3 {
	text-align: center;
	font-family: 'Brush Script MT', cursive;
	font-size: 4.5em;
}

#noTodosIndex a {
	cursor: pointer;
}

#firstTodoIcon {
	font-size: 18em;
	color: #188EB5;
	padding: 60px 75px 30px 95px;
}

#addTodo {
	margin-left: 20px;
}

#addBtn {
	color: #FFE4C4;
	font-size: 1.3em;
	cursor: pointer;
}

/* has todos -------------------------------------------- */

.thumbnail {
	height: auto;
	width: 60%;
	margin-top: 10px;
	background-color: #FFE4C4;
	border-radius: 10px;
	border-style: solid;
    border-width: 2.5px;
    border-color: #808080;
}

.btnEdit {
	margin-right: 10px;
}

.btnComplete {
	margin-right: 10px;
}

.glyphicon-remove {
	font-size: 8.0em;
	color: red;
	padding-left: 43px;
}

.glyphicon-ok {
	font-size: 8.0em;
	color: green;
	padding-left: 55px;
}
.glyphicon-edit {
	font-size: 1.7em;
	color: #188EB5;
}
.glyphicon-ok-circle {
	font-size: 1.9em;
	color: green;
}

.glyphicon-trash {
	font-size: 1.7em;
	color: red;
}

.glyphicon-refresh {
	font-size: 1.5em;
	color: #188EB5;
}

.glyphicon-floppy-save {
	font-size: 1.5em;
	color: green;
}

/* NewTodo Component --------------------------------------------------------------------------------- */

#newTodo button {
	width: 50%;
}

#newTodo span {
	font-size: 1.5em;
}

#newTodo input {
	background-color: #FFE4C4;
}

#newTodo textarea {
	background-color: #FFE4C4;
	height: 400px;
}

#newTodoCancel {
	margin-top: 8px;
	margin-right: 12px;
	color: #FFE4C4;
	font-size: 1.4em;
	cursor: pointer;
	float: right;
}

#btnBack {
	width: 60px;
	margin-top: 10px;
}

#newTodo .glyphicon-plus {
	color: green;
	font-size: 1.4em;
}

/* ShowTodo Component --------------------------------------------------------------------------------- */

#showTodo div {
	margin-top: 5px;
	padding-left: 65px;
	width: 600px;
}

#showTodo input {
	background-color: #FFE4C4;
}

#showTodo textarea {
	background-color: #FFE4C4;
	height: 400px;
}

#showTodo button {
	width: 28%;
	margin-top: 10px;
	border-radius: 5px;
}

#editTodoSave {
	margin-right: 40px;
}

#editTodoRefresh {
	margin-right: 40px;
}

#editTodoDelete span {
	font-size: 1.5em;
	color: red;
}

.error {
	text-align: left;
	font-size: 1.0em;
	font-weight: 800;
}

/* classes --------------------------------------------------------------------------------- */

.btn-custom {
	background-color: #FFE4C4;
	color: black;
}

.marginTop {
	margin-top: 30px;
}

.marginRight {
	margin-right: 5px;
}

.center {
	text-align: center;
}

.bold {
	font-weight: bold;
}
